# Azure Event Hubs Configuration
# Replace the values below with your actual credentials

# The connection string for the Event Hubs namespace
EVENT_HUB_CONNECTION_STR="EEndpoint=sb://saugatubereventsde.servicebus.windows.net/;SharedAccessKeyName=sendPolicy;SharedAccessKey=5XH0Ff4509wJQRW9SFEBibdCLFD5xgIOJ+AEhMsdsQk=;EntityPath=uberdetopic"

# The name of the specific Event Hub
EVENT_HUB_NAME="saugatubereventsde"
